.ScatterPlot {
    text-align: center;
}

body {
    font: 12px sans-serif;
    font-family: "myriad pro";
    color: #444444;
}

.label {
    font: 12px sans-serif;
    font-family: "myriad pro";
    color: #999999;
}

.axis {
    font: 12px sans-serif;
    font-family: "myriad pro";
    color: #999999;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #FFF;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.5;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

svg text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}